.ListaHabidades{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px ; 
    justify-content: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.cardHabilidad{    
    width: 150px;
    height: 90px;
    display: flex; 
    align-items: center;
    gap:10px ;    
    border-bottom: 2px solid rgb(218, 218, 218) ;        
}

.cardHabilidad  img {
    width: 25%;   
}

.line{
    width: 60%;
    background: rgb(196, 196, 196) ;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.porcentage{
    width: 0%;
    height: 100%;
    background: blue;
    transition: width 1s ;
    
}

.habilidades-descripcion {
    position: relative;
    background:   linear-gradient(to bottom, rgba(22, 60, 131, 0.9), rgba(3, 107, 148, 0.9)), 
    url('../../img/Programacion.jpg');
    padding: 10px 30px;
    border-radius: 10px;
    border-left: 8px solid rgb(17, 0, 255) ;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    text-shadow: 0px 0px 2px  rgb(80, 80, 80) ;

}

.habilidades-descripcion  > ul {
    list-style: none;

}

.habilidades-descripcion  > ul > li b{
   
}
.habilidades-descripcion  > ul > li::before {
    position: relative;
    content: "✔";
    left: -10px;
}
.blandas > .habilidades-descripcion{
    background: linear-gradient(45deg , rgb(105, 51, 252), rgb(0, 89, 255));
    box-shadow: 1px 5px 1px rgb(0, 17, 255);
    cursor: pointer;
}
@keyframes habilidadesBlandas {
    0%{
        
    }
    30%{
        transform: translateX(-200px) rotate(25deg);
    }
    50%{
        
    }
    
    80%{
        transform: translateX(-200px) rotate(-25deg);
    }
    
    100%{


    }
}
@media screen and (max-width:650px) {
    .cardHabilidad{    
        width: 80px;        
    }
    .ListaHabidades{
        width: 90%;
    }
    .habilidades-descripcion {
        width: 100%;
    }
}