.ListaHabidades{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px ; 
    justify-content: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.cardHabilidad{    
    width: 150px;
    height: 90px;
    display: flex; 
    align-items: center;
    gap:10px ;    
    border-bottom: 2px solid rgb(218, 218, 218) ;        
}

.cardHabilidad  img {
    width: 25%;   
}

.line{
    width: 60%;
    background: rgb(196, 196, 196) ;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.porcentage{
    width: 0%;
    height: 100%;
    background: blue;
    transition: width 1s ;
    
}

.habilidades-descripcion {
    position: relative;
    background: rgb(24, 163, 206) ;
    padding: 10px 30px;
    border-radius: 10px;
    border-left: 8px solid rgb(17, 0, 255) ;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:650px) {
    .cardHabilidad{    
        width: 100px;        
    }
    .ListaHabidades{
        width: 90%;
    }
}