#home {
    background: var(--colorNav);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 50px;
    min-height: calc( 90vh - var(--AlturaNav));
    overflow: hidden;
    padding-top: 10px;
}

.photo{
    position: relative;
    width: 250px;
    height: 250px;    
    padding: 10px;    
}
.photo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 3px);
    height: calc(100% - 3px); 
    border-radius: 40%;
    border: 3px solid  rgb(28, 221, 255);    
    animation: animaccionCircularPotho 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@keyframes animaccionCircularPotho {
    100%{
        transform: rotate(360deg);
    }
}

.photo>img {
    width: 100%;
    background: white; 
    border-radius: 50%;
    border: 2px solid rgb(87, 87, 87);
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.info {
    font-weight: bold;
}
.info >h2>span{
    display: block;
}

.I_am {
    color: white;
    font-size: 2em ;
}
.I_am>span:nth-child(2){
  color: orange;
}

.info > p {
    font-size: 1.5em ;
    margin: 15px 5px ;
}
.developer{
    color: rgb(13, 138, 76);
    background: white ;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    min-height:  1.5em ;
    transition: border-radius 200ms ;
}
.developer:hover{
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: blue;
}
.info>.socialNetworks{
    text-align: center;
    color: white ;
}
.icon{
    color: rgb(156, 156, 156); 
    cursor: pointer;    
    text-decoration: none ;
    font-size: 2em;
    filter: drop-shadow(1px 1px 3px black );
}
.icon>i{
    transition:transform 0.4s cubic-bezier(0, 1.17, 0.06, 1.28); 
}
.icon>i:hover{
    transform: scale(1.3);
    filter: drop-shadow(1px 1px 3px white );
}
.linkedin{
    color: rgb(25, 25, 245);
}
.facebook{
    color: rgb(0, 0, 124);
    
}
.whatsapp{
  color: rgb(7, 211, 7);
}
.github{
    color: rgb(22, 20, 20);
}
.cv{
    color: rgb(233, 53, 53);
}

#AnimacionEndHome> svg {
    background: var(--colorNav);
    width: 100%;
    height: 50px;  
}

#AnimacionEndHome> svg > path{
    fill: white;
}

