#home {
    background: var(--colorNav);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 50px;
    min-height: calc( 90vh - var(--AlturaNav));
    overflow: hidden;
    padding-top: 10px;
}

.photo{
    position: relative;
    width: 250px;
    height: 250px;
    
    padding: 10px;
    
}
.photo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 3px);
    height: calc(100% - 3px); 
    border-radius: 40%;
    border: 3px solid  rgb(28, 221, 255);    
    animation: animaccionCircularPotho 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@keyframes animaccionCircularPotho {
    100%{
        transform: rotate(360deg);
    }
}


.photo>img {
    width: 100%;
    background: white; 
    border-radius: 50%;
    border: 2px solid rgb(87, 87, 87);
}
.info {
    font-weight: bold;
}
.info >h2>span{
    color: rgb(24, 4, 97);
    display: block;
}

.info > h2 {
  font-size: 2em ;
  color: rgb(255, 153, 0);
}

.info > p {
    font-size: 1.5em ;
    margin: 15px 5px ;
}
.developer{
    color: rgb(13, 138, 76);
    background: white ;
    border-radius: 10px;
    padding: 5px 0px;
    text-align: center;
}

.info>.socialNetworks{
    text-align: center;
    color: white ;
}
.icon{
    cursor: pointer;    
    text-decoration: none ;
    font-size: 2em;
}
.icon>i{
    transition:transform 0.4s cubic-bezier(0, 1.17, 0.06, 1.28); 
}
.icon>i:hover{
    transform: scale(1.4);
}
.linkedin{
    color: rgb(25, 25, 245);
}
.facebook{
    color: rgb(0, 0, 124);
    
}
.whatsapp{
  color: rgb(7, 211, 7);
}
.github{
    color: rgb(22, 20, 20);
}

#AnimacionEndHome> svg {
    background: var(--colorNav);
    width: 100%;
    height: 50px;  
}

#AnimacionEndHome> svg > path{
    fill: white;
}

