.navar{
    background: var(--colorNav);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: var(--AlturaNav);
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 0px 80px;
    transition: background 1s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 1.2em;

}
.navar .logo{
    display: flex;
    gap: 10px;
}
.navar >.baras {
    cursor: pointer;  
    visibility: hidden;
}
.navar> .baras > .bar{
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px;
    transition: transform 250ms , opacity 0.5s ;
} 
.animacionBar > .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
    background: rgb(54, 240, 240) ;
}
.animacionBar> .bar:nth-child(2){
   opacity: 0;
}
.animacionBar> .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
    background: rgb(54, 240, 240) 
}
.navar > .NavItems{
    list-style: none;
    display: flex;
    gap: 30px;
    
    transition: max-height 500ms cubic-bezier(0.165, 0.84, 0.44, 1), background 1s cubic-bezier(0.23, 1, 0.320, 1), padding 0.4s ;
}
.navar>.NavItems> li{
    position: relative;
    cursor: pointer;
    
}
.navar>.NavItems> li::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: cyan ;
    left: 0;
    bottom: -12px;
    transition: width 1s ;
}


.navar>.NavItems> li:hover::after{
    animation: baraIten 200ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards; 
}
@keyframes baraIten {
    100%{
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .navar{
        padding: 0px 40px;
        
    } 
    .navar > .NavItems{
        flex-direction: column;   
        position: absolute;
        gap: 20px;
        top: var(--AlturaNav);
        left: 0;
        width: 100%;
        background: var(--colorNav);
        max-height: 0;
        padding: 0px 30px;
        visibility: hidden;
      }
      .navar > .showItemsNav, .navar.showItemsNav {      
         max-height: 200px;
         background: rgb(10, 53, 148);  
         visibility: visible; 
         z-index: 4;  
        }
        .navar > .showItemsNav{
            padding: 5px 30px 20px;    
        }
      .navar >.baras{
         visibility: visible;
      }    
}