.listaProyectos{    
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;    
}
.contenedorCard{
    position: relative;
    transition: transform 0.5s;    
    transform: scale(0.7);
}
.startShowCard{
    transform: scale(1);
}
.openGit{
    position: absolute; 
    left: 10px;
    top: 10px;
    z-index: 2;    
    font-size: 2.5em;
    transition: transform 0.5s;
    filter: drop-shadow(1px 1px 1px black);
    color: black;
    
}
.openGit:hover{
    transform: scale(1.2);
}
.openProyect{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    font-size: 1.1em;
    color: rgb(8, 11, 184) ;
    border-radius: 50%;
    padding: 8px;    
    width: 39px;
    height: 39px;
    display: grid;
    place-content: center;
    filter:drop-shadow( 1px 1px 2px blue) ;
    transition: transform 0.5s, background 0.4s ;
    background: #ffffff;
}
.contenedorCard:hover .openProyect{
    transform: translateX(18px) translateY(-18px) scale(1.1);
    
}
.contenedorCard:hover{
    cursor: pointer;
    
}
.cardProyecto{
    width: 250px;
    height: 300px;
    background: linear-gradient(45deg ,rgb(219, 219, 219) , #ffffff);
    border-radius: 10px;
    overflow: hidden;  
    border: 1px solid blue ;
  
}
.cardProyecto:hover{
    box-shadow: 0px 0px 10px black;  

}

.imgCard{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60%;
    overflow: hidden;

    transition: height 200ms  cubic-bezier(0.075, 0.82, 0.165, 1)
}
.imgCard > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0;
}

.mainCard{
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  position: relative;  
  transition: color 250ms ease;
  max-height: 80px;  
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  overflow: hidden;
}
.tituloProyecto{    
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);    
    display: block;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(0px 0px 3px rgb(0, 0, 0) );
    font-style: italic;
    
  }  
  .tituloProyecto::after{
    position: absolute;
    content: "";
    top:0; 
    left:100%; 
    width: 0px;
    border-bottom: 14px solid transparent;
    border-top: 14px solid transparent;
    border-left: 20px solid  rgba(0, 0, 0, 0.3);
  }

  .descripcion{
    padding: 6px 10px;
    
  }

.foorderCard{
   position: fixed;
   bottom: 2px;
   bottom: 5px;
   width: 100%;
   text-align: center;
   
}

.img_tecnologia{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(19, 62, 117) ;
}

.img_tecnologia> img {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 2px white );
}
.VolverAtras{
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 29px;   
    cursor: pointer; 
    transition-duration: color 0.5s, transform 1s;
    color: rgb(104, 103, 103);
}
.btnAllProyectos{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.VolverAtras:hover{
    color: blue;
    transform: scale(1.2);
}

.capa{
    background: rgb(77, 12, 161);
    background: linear-gradient(0deg , rgb(108, 0, 248) , rgb(182, 125, 255) );
    height: 400px;    
    transform: rotate(40deg) translateX(-75%) translateY(75%);     
    position: absolute;
    width: 350px;
    transition: transform 500ms  cubic-bezier(0.74, 0.06, 0.4, 1.2);
}

.cardProyecto:hover .capa  {
    transform: rotate(40deg) translateX(-30%) translateY(-25%);
    
}

.cardProyecto:hover .imgCard {
    height: 40%;    
}
.cardProyecto:hover .mainCard{
    color: white ;
    max-height: none;  
    mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
}


.imgCard::after{
    /*content: attr();*/
    content: "Hola";

}